version: '3.8'

services:
  horilla-app:
    build:
      context: .
      dockerfile: {{ docker_dockerfile }}
    container_name: {{ docker_service_name }}
    ports:
      - "8000:8000"
    env_file:
      - {{ docker_env_file }}
    volumes:
      - .:/app
    restart: unless-stopped

